
<div class="container bg-primary-gradient py-5">
  <div class="row">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
      <%= form_tag posts_path, method: :get do %>
        <%= text_field_tag name="post[query]", '', size:100 %>
        <%= submit_tag 'Filter' %>
      <% end %>
    </div>
  </div>
</div>

<hr />

<hr />
